{% extends 'base.html'%}
{% load bulma_tags %}
{% block content %}
{% include 'navbar.html'%}
<div class="columns">
    <div class="column is-half is-offset-one-fifth">
        <form action="" method="POST">
            <fieldset class="box">
                <legend class="label has-text-centered title is-4">Sign In</legend>
                {% csrf_token %}
                {{form | bulma }}
                <button type="submit" class="button is-primary">Login</button>
            </fieldset>
        </form>
        <p>Not a member? <a href="{% url 'register'%}">Sign Up</a></p>
    </div>
</div>
<div>
</div>
{%endblock content%}
